{% extends 'layout.twig' %}

{% block header %}
	<h1>New profile</h1>
{% endblock %}

{% block content %}
	<div class="container">
		<form action="/profiles/post" method="post" class="border px-4 py-3">
			<div class="mb-3">
				<label for="txtUsername" class="form-label">Username:</label>
				<input id="txtUsername" name="txtUsername" placeholder="Username" type="text" class="form-control" required/>
			</div>
			<div class="mb-3">
				<label for="txtFirstname" class="form-label">Firstname:</label>
				<input id="txtFirstname" name="txtFirstname" placeholder="Firstname" type="text" class="form-control" required/>
			</div>
			<div class="mb-3">
				<label for="txtLastname" class="form-label">Lastname:</label>
				<input id="txtLastname" name="txtLastname" placeholder="Lastname" type="text" class="form-control" required/>
			</div>
			<div class="mb-3">
				<label for="txtCompany" class="form-label">Company:</label>
				<input id="txtCompany" name="txtCompany" placeholder="Company" type="text" class="form-control" required/>
			</div>
			<div class="mb-3">
				<label for="txtLanguages" class="form-label">Languages:</label>
				<input id="txtLanguages" name="txtLanguages" placeholder="Languages" type="text" class="form-control" required/>
			</div>
			<div class="d-flex justify-content-center">
				<input type="reset" value="Reset" class="form-control w-25 me-3"/>
				<input type="submit" value="Submit" class="form-control w-25"/>
			</div>
		</form>
	</div>
{% endblock %}