{% extends 'layout.twig' %}

{% block header %}
	<div class="row d-flex flex-column">
		<div class="col d-flex justify-content-center">
			<h1 class="text-danger">{{message}}</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<h2>{{error.status}}</h2>
		<pre>{{error.stack}}</pre>
	</div>
{% endblock %}
