{% extends 'layout.twig' %}

{% block header %}
	<div class="row w-100 d-flex flex-row">
		<div class="d-flex flex-row-reverse">
			<a href="/register" class="btn btn-success" role="button">Sign Up Now!</a>
		</div>
		<div class="d-flex justify-content-center">
			<h1 class="text-danger">{{title}}</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
	<p class="h4 text-primary">Hello, World !</p>
	<p class="h5 text-secondary">Created my first Node JS + Express project !!</p>
	<img src="/images/nodejs_express.png" width="30%" alt="NodeJs_Express">
{% endblock %}
