{% extends 'layout.twig' %}

{% block header %}
	<div class="row d-flex flex-column">
		<div class="col d-flex justify-content-end">
			<a href="/profiles/new" class="btn btn-info text-white" role="button">Add profile</a>
		</div>
		<div class="col d-flex justify-content-center">
			<h1 class="text-danger">Profiles</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<ul>
			{% for key in profiles|keys %}
				<li>
					{% set link = '/profiles/%s'|format(key) %}
					<a href={{link}}>{{ key }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}