{% extends 'layout.twig' %}

{% block header %}
	<div class="row d-flex flex-column">
		<div class="col d-flex justify-content-center">
			<h1 class="text-danger">User's Occupation</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
	{% set nameCap = name|capitalize %}
	<div class="row">
		<p class="h5 user-occupation">{{ "%s works as a(n) %s !"|format(nameCap,occupation) }}</p>
	</div>
{% endblock %}
